html{
    box-shadow: inset 0 50px 10000px #000000;
    font-size: 110%; 
}
h1 {
    text-shadow: 0 0 5px rgba(0, 255, 181, 0.61);
    border-bottom: 1px solid rgba(0, 255, 181, 0.38);
}
h2 {
    padding-top: 5%;
    text-shadow: 0 0 5px rgba(0, 255, 181, 0.61);
    border-bottom: 1px solid rgba(0, 255, 181, 0.38);
}
h3 {
    color: rgba(0, 255, 181, 0.61)
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #081815;
    font-family: monospace;
    padding-bottom: 10%;
    padding-top: 25px;
    margin-inline: 3%;
}
header {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 255, 181, 0.38);
    width: 90%;
}

header h1{
    font-size: 300%;
    border-bottom: none;
}
section {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 255, 181, 0.61);
    border-radius: 20px;
    border: 2px solid #00ffb5;
}
p {
    text-align: center;
    padding-inline: 30px;
    max-width: 1000px;
}
a {
    text-decoration: none;
}
.btext {
    color: #9c9c9c;
    transition: 0.3s;
}
.button {
    text-align: center;
    background-color: #181818;
    border: 2px solid #434343;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    transition: 0.3s;
    padding: 1px;
}
.button:hover .btext{
    color: #00ffb5;
}
.button:hover {
    color: #00ffb5;
    scale: 105%;
    border: 2px solid #00ffb5;
    box-shadow: 0 0 10px #00ffb5;
}
.langs {
    display: flex;
    justify-content: center;
    scale: 90%;
    width: 90%;
}
.langs > * {
    padding-inline:10px;
}
.java p{
    background-color:  rgba(255, 94, 0, 0.5);;
    border: solid 0.5mm #ff5e00;
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
.css p{
    background-color:  rgba(0, 20, 255, 0.5);;
    border: solid 0.5mm rgb(73, 88, 255);
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
.html p{
    background-color:  rgba(255, 0, 0, 0.5);;
    border: solid 0.5mm #ff0000;
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
.javascript p{
    background-color:  rgba(255, 202, 0, 0.5);;
    border: solid 0.5mm #ffca00;
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
.csharp p{
    background-color:  rgba(117, 0, 255, 0.49);;
    border: solid 0.5mm #7500ff;
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
.python p{
    background-color:  rgba(0, 149, 255, 0.5);;
    border: solid 0.5mm #0095ff;
    border-radius: 10000px;
    padding-block: 5px;
    justify-content: center;
}
/*CSS for mobile users*/
@media (pointer: coarse)
{
    body {
        margin-bottom: 25%;
        margin-top: 10%;
    }
    header h1{
        font-size: 250%;
        border-bottom: none;
    }
    html {
        font-size: 200%; 
    }
    header {
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 5%;
        margin-bottom: 10%;
    }
    p {
        font-size: xx-large;
    }
    a {
        transition: 0.3s;
        text-decoration: none;
        color: #c7c7c7;
    }
    img {
        max-width: fit-content;
    }
}
