html{
    box-shadow: inset 0 50px 10000px #000000;
}
h1 {
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e282b;
    font-family: monospace;
    padding-bottom: 10%;
    margin-inline: 3%;
}
header {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 5px;
}
section {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 900px;
    box-shadow: 0 0 20px #000;
    border-radius: 20px;
}
p {
    padding-inline: 30px;
    max-width: 1000px;
}
a {
    transition: 0.3s;
    text-decoration: none;
    color: #c7c7c7;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

a:hover {
    color: #00ffb5;
    font-size: 105%;
    box-shadow: 0 0 10px #00ffb5;
}
/*CSS for mobile users*/
@media (pointer: coarse)
{
    body {
        margin-bottom: 25%;
    }
    html {
        font-size: 150%; 
    }
    header {
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 5%;
        margin-bottom: 10%;
    }
    p {
        font-size: x-large;
    }
    a {
        transition: 0.3s;
        text-decoration: none;
        color: #c7c7c7;
    }
    h1 {
        padding-top: 5%;
    }
    img {
        max-width: fit-content;
    }
    a:active {
        color: #00ffb5;
    }
}
